[submodule "pyodide"]
	path = pyodide
	url = https://github.com/pyodide/pyodide
[submodule "notebook-webcomponent"]
	path = notebook-webcomponent
	url = https://github.com/tradingstrategy-ai/notebook-webcomponent
